207 DIALOGEX 0, 0, 300, 140
STYLE DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "??"
{
   CONTROL "", 1029, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 42, 60, 8 
   CONTROL "", 1000, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 40, 234, 12 
   CONTROL "", 1006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 30 
}
