206 DIALOGEX 0, 0, 300, 140
STYLE DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "??"
{
   CONTROL "", 1027, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 1, 26, 60, 14 
   CONTROL "", 1004, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 0, 10, 300, 11 
   CONTROL "", 1006, STATIC, SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 0, 0, 300, 10 
   CONTROL "", 1016, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOCOLUMNHEADER | WS_CHILD | WS_BORDER | WS_TABSTOP, 0, 25, 300, 110 
}
