306 DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_LEFTSCROLLBAR
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "", 1027, BUTTON, BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE, 239, 26, 60, 14 , 0x00006000
   CONTROL "", 1004, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 0, 10, 300, 11 , 0x00007000
   CONTROL "", 1006, STATIC, SS_RIGHT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 0, 0, 300, 10 , 0x00006000
   CONTROL "", 1016, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOCOLUMNHEADER | WS_CHILD | WS_BORDER | WS_TABSTOP, 0, 25, 300, 110 , 0x00402000
}
