103 DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "", 1019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 85, 210, 12 
   CONTROL "", 1001, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 228, 83, 60, 15 
   CONTROL "", 1024, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 0, 125, 150, 8 
   CONTROL "", 1008, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_TABSTOP, 180, 110, 118, 10 
   CONTROL "", 1023, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 0, 115, 150, 8 
   CONTROL "", 1006, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 60 
   CONTROL "", 1020, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 70, 300, 35 
}
