307 DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
EXSTYLE WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_LEFTSCROLLBAR
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "", 1029, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE, 240, 42, 60, 8 , 0x00006000
   CONTROL "", 1000, EDIT, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 1, 40, 234, 12 , 0x00006000
   CONTROL "", 1006, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 30 , 0x00006000
}
