302 DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
EXSTYLE WS_EX_RIGHT | WS_EX_RTLREADING | WS_EX_LEFTSCROLLBAR
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "", 1040, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 15 , 0x00006000
   CONTROL "", 1000, "RichEdit20W", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 15, 300, 93 , 0x00007000
   CONTROL "", 1006, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE, 0, 113, 300, 26 , 0x00006000
}
