111 DIALOGEX 0, 0, 167, 42
STYLE DS_FIXEDSYS | DS_MODALFRAME | DS_CENTER | WS_POPUP
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
{
   CONTROL "", 1030, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 40, 25, 120, 10 
   CONTROL 103, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 10, 10, 21, 20 
   CONTROL "Please wait while Setup is loading...", 76, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 40, 10, 120, 10 
}
